body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #333;
  text-align: center;
  padding: 50px;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  font-size: 1.2rem;
  margin: 20px 0 ;
}

.favorite-icon {
  font-size: 1.5rem;
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #999;
  transition: transform 0.2s ease, color 0.3s ease;
}

.favorite-icon:hover {
  transform: scale(1.2);
}

.filled {
  color: red;
}
